.nav {
  grid-area: nav;
  background-color: rgba(48, 190, 118, 0.2);
}

.list {
  list-style: none;
}

.link {
  color: #606060;

  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

.link.active {
  color: #030f09;
  font-weight: bold;
}
